* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main{
    max-width: 70ch;
    margin: 0 auto;
    padding: 1rem;
}

.navigation ul {
 display: flex;
 gap: 1rem;
 flex-direction: column;
 list-style: none;
}